/* Large Screen Size */
@media only screen and (min-width: 1000px) {
    .home-text {
        font-size: 20px;
    }

    .title1 {
        font-size: 60px;
        width: 680px;
        height: 300px;
    }

    .pix-blurb-wrap {
        font-size: 24px;
    }

    .first-dog {
        width: 470px;
        height: 470px;
       
    }

    #search-bar {
        max-width: 50rem;
        width: 100%;
        
    }

    #first-page-button {
        width: 80px;
        height: 80px;
        font-size: 17px;
    }

    #map {
        height: 650px;
        width: 800px; 
    }

    .dog-wrapper {
        width: 350px;
        height: 350px;
    }

    .dog-blurb-style {
        font-size: 21px;
    }

    #hotels-button, #parks-button, #vets-button, #stores-button, #restaurant-button {
        height: 135px;
        width: 135px;
        font-size: 18px;
    }
    
}

@media only screen and (min-width: 1000px) {
    .home-text {
        font-size: 20px;
    }
 
    .title1 {
        font-size: 60px;
        width: 680px;
        height: 300px;
    }
 
    .pix-blurb-wrap {
        font-size: 24px;
    }
 
    .first-dog {
        width: 470px;
        height: 470px;
 
    }
 
    #search-bar {
        max-width: 50rem;
        width: 100%;
 
    }
 
    #first-page-button {
        width: 80px;
        height: 80px;
        font-size: 17px;
    }
 
    #map {
        height: 650px;
        width: 800px;
    }
 
    .dog-wrapper {
        width: 350px;
        height: 350px;
    }
 
    .dog-blurb-style {
        font-size: 21px;
    }
 
    #hotels-button, #parks-button, #vets-button, #stores-button, #restaurant-button {
        height: 135px;
        width: 135px;
        font-size: 18px;
    }
 
 }